{% load static %}
{% load icon %}
<nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white" id="sidenavAccordion">
    <a class="navbar-brand" href="index.html">Home Dashboard v1</a>
    <!-- Sidenav Toggle Button-->
    <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 mr-lg-2" id="sidebarToggle">
        {% icon "menu" class="css-class"%}
    </button>
    <!-- Navbar Items-->
    <ul class="navbar-nav align-items-center ml-auto">
    </ul>
</nav>
